a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
  background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
  
  /* Presentational Styles */
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 700;
  }

  li {
    float: left;
    border-right: 1px solid #bbb;
  }

  li a{
    padding: 14px 16px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: #333;
  }

  .centerA {
    color: black;
    background-color: #54b3d6;
    background-image: none;
  }

  div{
    position: absolute;
    top:50%;
    text-align: center;
    justify-content: center;
    width: 100%;
    left: 0px;
  }

  .centerDiv{
    left: 42%;
    margin-top: -10%;
  }